*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul 
{
    list-style: none;
}
.container 
{
    max-width: 1170px;
    margin: auto;
}
.flex 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top 
{
    background: pink;
    line-height: 45px;
}
.top li 
{
    display: inline;
}
nav li 
{
    display: inline;
}
header 
{
    padding: 15px 0;
}
.banner
{
    background: url(https://softronixsolution.com/ecc/images/bg-1.jpg);
    height: 550px;
    background-position: center;
}
.bannercontent
{
    flex-basis: 450px;
    text-align: center;
}